* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.edit-container {
  background: #020617;
  padding: 30px;
  width: 500px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.edit-container h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 20px;
}

label {
  margin-top: 12px;
  display: block;
  font-size: 14px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.section {
  margin-top: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.section label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4f46e5;
  transform: scale(1.05);
}

a {
  color: #94a3b8;
  text-decoration: none;
  font-size: 14px;
}

#message {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
