* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  height: 100vh;
}

.login-container {
  height: 100vh;
  display: flex;
}

.left {
  flex: 2;
  padding: 60px;
  color: #e5e7eb;
  background: linear-gradient(
      rgba(2,6,23,0.65),
      rgba(2,6,23,0.75)
    ),
    url(../assets/WhatsApp\ Image\ 2026-01-16\ at\ 1.26.29\ AM\ \(2\).jpeg)
      center/cover;
}

.left h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.left p {
  font-size: 15px;
  max-width: 450px;
  opacity: 0.9;
}

.right {
  flex: 1.2;
  background: #020617;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heading {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

input {
  width: 100%;
  height: 42px;
  padding: 10px 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #1e293b;
  background: #0f172a;
  color: white;
}

input:focus {
  outline: none;
  border-color: #6366f1;
}

.forgot-pass a {
  font-size: 13px;
  color: #cbd5f5;
  text-decoration: none;
}

.btn-div {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

button {
  flex: 1;
  height: 42px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #6366f1;
  color: white;
  transition: 0.3s;
}

button:hover {
  background: #4f46e5;
}

.linkButton {
  color: white;
  text-decoration: none;
}
